.latex-content-detail {
    max-width: 100%;
    text-align: left;
    margin: 0;
    padding: 20px; /* Añadir padding para mejor visualización */
    border-radius: 8px;
    border-style: solid;
    border-color: gray;
}

.latex-content-detail h1 {
    font-size: 2em; /* Ajustar el tamaño del título */
    margin-bottom: 15px;
    color: #333;
}

.content-details {
    background-color: #fafafa;
    padding: 15px;
    border-radius: 8px;
    color: #333;
    font-size: 16px; /* Ajustar el tamaño de fuente */
}

.pdf-viewer {
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: 100vh; /* Altura completa para móviles */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .latex-content-detail {
        width: 100%;
    }

    .latex-content-detail h1 {
        font-size: 1.8em; /* Ajusta el tamaño del título en dispositivos móviles */
    }

    .pdf-viewer {
        height: 100vh; /* Asegúrate de que el visor ocupa toda la altura disponible en móviles */
        width: 100%;
        overflow: hidden; /* Evita que el contenido se desborde */
    }
}